apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  namespace: cube-3
spec:
  replicas: {{ .Values.express.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-api
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-api
    spec:
      containers:
        - name: api-container
          image: "breizhsport-server:local"
          ports:
            - containerPort: {{ .Values.node.port }}
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PORT
            - name: DB_LOCATION
              value: "{{ .Release.Name }}-database-internal-service"
            - name: API_PORT
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: API_PORT
            - name: NODE_ENV
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: NODE_ENV